@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h2 {
  margin-bottom: 20px;
}
main {
  border: 2px solid black;
  padding: 20px;
  border-radius: 15px;

  input {
    width: 100%;
    padding: 30px 10px;
    margin-bottom: 10px;
    border: none;
    border-bottom: 1px solid gray;
    text-align: right;
    outline: none;
    font-size: 1.5rem;
  }

  button {
    width: 60px;
    height: 60px;
    margin: 7px;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    background: transparent;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.399);
    transition: all 0.3s ease;
    font-weight: bold;
  }
}
::selection{
    background-color: transparent;
}
.oprator {
  background: rgba(0, 213, 255, 0.491);
}
.equal {
  background: rgb(255, 174, 0);
}

button:active{
    scale: 1.2;
}