.container {
    background-color: aquamarine;
    height: 500px;
    width: 90%;
    padding: 10px;
    border: 5px solid;
    position: relative;
  }
  .snake {
    position: absolute;
    left: px;
    top: 0px;
  }