main {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading {
    color: green;
    text-align: center;
}

.form-container {
    border: solid green;
    padding: 50px 40px;
    border-radius: 10px;

    input {
        width: 100%;
        margin-top: 20px;
        padding: 10px;
        border-radius: 10px;
        outline: none;
        border: 2px solid green;
        font-size: large;
    }
}

input::placeholder {
    font-size: medium;
}

.button-container {
    width: 100%;
    text-align: center;
    margin-top: 20px;

    button {
        padding: 5px 10px;
        font-size: large;
        border-radius: 10px;
        color: white;
        background-color: green;
        border: 2px solid green;
    }
}

button:hover {
    cursor: pointer;

}

button:active {
    transform: scale(0.9);
}
.error{
    color: red;
}
.success{
    color: green;
}